<footer class="footer" >
    <article class="footer__article1" >
      <ul class="footer__list1" >
       <li >
         <a class="footer__link1--tienda" href="https://adalab.es/" target="_blank">Tienda</a>
       </li>
       <li >
         <a class="footer__link2" href="https://adalab.es/" target="_blank">Productos</a>
       </li>
       <li >
         <a class="footer__link2" href="https://adalab.es/" target="_blank">Cajoneras</a>
       </li>
       <li >
         <a class="footer__link2" href="https://adalab.es/" target="_blank">Para toda la casa</a>
       </li>
       <li >
         <a class="footer__link2" href="https://adalab.es/" target="_blank">Habitaciones</a>
       </li>
      </ul>
    </article>
    <article class="footer__article1" >
     <ul class="footer__list1" >
      <li >
        <a class="footer__link1" href="https://adalab.es/" target="_blank">Nosotros</a>
      </li>
      <li >
        <a class="footer__link2" href="https://adalab.es/" target="_blank">Nuestra guía</a>
      </li>
      <li >
        <a class="footer__link2" href="https://adalab.es/" target="_blank">Nuestro diseño</a>
      </li>
      <li >
        <a class="footer__link2" href="https://adalab.es/" target="_blank">Nuestra historia</a>
      </li>
      <li >
        <a class="footer__link2" href="https://adalab.es/" target="_blank">Ayuda</a>
      </li>
     </ul>
   </article>
   <article class="footer__article1" >
     <ul class="footer__list1" >
      <li >
        <a class="footer__link1" href="https://adalab.es/" target="_blank">Contacto</a>
      </li>
      <li >
        <a class="footer__link2" href="https://adalab.es/" target="_blank">ayuda@openspaces.com</a>
      </li>
      <li >
        <a class="footer__link2" href="https://adalab.es/" target="_blank">Socios</a>
      </li>
      <li class="footer__icons" >
       <a href="https://www.linkedin.com/" target="_blank" title="Linkedin" alt="Linkedin" ><i class="fa-brands fa-linkedin-in fa-xl"></i></a>
       <a href="https://www.instagram.com/" target="_blank" title="Instagram" alt="Instagram" ><i class="fa-brands fa-instagram fa-xl"></i></a>
         <a href="https://twitter.com/" target="_blank" title="Twitter" alt="Twitter" ><i class="fa-brands fa-twitter fa-xl"></i></a>
     </li>
     </ul>
     
   
   </article>
         <a href="#top" title="Top"><img  class="footer__top" src="./assets/images/arrow.png" alt="Top"></img></a>
   </footer>
