<footer class="footer">
  <article class="footer__article1">
    <ul class="footer__icons">
      <li>
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          title="Linkedin"
          alt="Linkedin"
          ><i class="fa-brands icon fa-linkedin-in fa-xl"></i
        ></a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          title="Instagram"
          alt="Instagram"
          ><i class="fa-brands icon fa-instagram fa-xl"></i
        ></a>
      </li>
      <li>
        <a
          href="https://twitter.com/"
          target="_blank"
          title="Twitter"
          alt="Twitter"
          ><i class="fa-brands icon fa-twitter fa-xl"></i
        ></a>
      </li>

      <li>
        <a href="#top" target="_blank" title="Twitter" alt="Twitter"
          ><i class="fa-solid arrow fa-arrow-up-long"></i
        ></a>
      </li>
    </ul>
  </article>
</footer>
