<header class="header" id="top" >
    <section class="header__section1" >
      <nav class="header__section1--navmenu">
        <ul class="header__section1--menulinks" >
          <li >
            <a  class="header__section1--menulink" href="https://adalab.es/" target="_blank" alt="Productos" >Productos</a>
          </li>
          <li >
            <a  class="header__section1--menulink" href="https://adalab.es/" target="_blank" alt="Colecciones" >Colecciones</a>
          </li>
          <li >
            <a  class="header__section1--menulink" href="https://adalab.es/" target="_blank" alt="Tienda" >Tienda</a>
          </li>
          <li >
            <a  class="header__section1--menulink" href="https://adalab.es/" target="_blank" alt="Inicio" >Inicio</a>
          </li>
        </ul>
        <a href="https://adalab.es/" target="_blank"><img  class="header__section1--menu" src="./assets/images/burger.png" alt="Menu" title="Menu" ></img></a>
      </nav>

      <img  class="header__section1--logo" src="./assets/images/logo.png" alt="Logo Openspaces" title="Logo Openspaces"></img>
    </section>
    <section class="header__section2" >
        <h1 class="header__section2--title" >Disfruta creando espacios</h1>
        <a  class="header__section2--button" href="https://adalab.es/" target="_blank" title="Comprar ahora" alt="Comprar ahora">Compra ahora</a>
    </section>
</header>
