<header class="header" >
    <section class="header__section1" id="top">
      <nav class="header__section1--navmenu">
        <ul class="header__section1--menulinks" >
          <li >
            <a  class="header__section1--menulink" href="#top" alt="Inicio" >Inicio</a>
          </li>
          <li >
            <a  class="header__section1--menulink" href="#productos" alt="Productos" >Productos</a>
          </li>
          <li >
            <a  class="header__section1--menulink" href="#envio" alt="Envío" >Envío</a>
          </li>
        </ul>
      </nav>
      <img  class="header__section1--logo" src="./assets/images/logo.png" alt="Logo Openspaces" title="Logo Openspaces"></img>
    </section>
    <section class="header__section2" >
        <h1 class="header__section2--title" >Disfruta creando espacios</h1>
        <a  class="header__section2--button" href="mailto:arandiezdehuerta@gmail.com" target="_blank" title="contacta" alt="contacta">Contáctanos</a>
    </section>
</header>

<!-- <a href="https://adalab.es/" target="_blank"><img  class="header__section1--menu" src="./assets/images/burger.png" alt="Menu" title="Menu" ></img></a> -->
<!-- <button class="js-buttonburguer button "><img  class="header__section1--menu" src="./assets/images/burger.png" alt="Menu" title="Menu" ></img></button> -->