<section class="main__module1" >
    <div class="main__module1--wrapper" >
      <h2 class="main__module1--title" >Volverse organizado se siente mejor con OPEN SPACES</h2>

        <article class="main__module1--article" >
          <img class="main__module1--image" src="./assets/images/icon_1.png" alt="imagen mesa" title="lo que necesitas"></img>
          <h3 class="main__module1--title1" >Lo que necesitas</h3>
          <p class="main__module1--article--par" >Una linea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="main__module1--article">
          <img class="main__module1--image" src="./assets/images/icon_2.png" alt="imagen reciclaje" title="materias primas sustentables"></img>
          <h3 class="main__module1--title2" >Materias primas sustentables</h3>
          <p class="main__module1--article--par" >Todos los productos con materias primas sustentables</p>
        </article>
        <article class="main__module1--article" >
          <img class="main__module1--image" src="./assets/images/icon_3.png" alt="imagen mapa" title="guía"></img>
          <h3 class="main__module1--title3">Guía</h3>
          <p class="main__module1--article--par" >Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>

    </div>
</section>
