<section class="main__module3" >
    <section class="main__module3--section1" >
      <h2 class="main__module3--title" >Disfruta creando espacios</h2>
      <p class="main__module3--text" >Una linea de productos diseñados para todos tus espacios</p>
      <section>
        <a  class="main__module3--button" href="https://adalab.es/" target="_blank" title="Comprar ahora" alt="Comprar ahora">Comprar ahora</a>
      </section>
    </section>
      <img class="main__module3--img" src="./assets/images/creando-espacios.jpg" alt=""></img>
  </section>
