* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --grey-color: #f0ebe5;
  --orange-color: #ff975a;
  --darkblue-color: #0c474b;
  --lightblue-color: #b6c8c9;
  --white-color: #ffffff;
  /* color: var(--grey-color); */
  /* font-family: "Poppins", sans-serif;
  */
}
