.main__module1 {
  background-color: var(--grey-color);
  padding-bottom: 20px;
}

.main__module1--wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 2rem;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 40px;
}

.main__module1--title {
  width: 322px;
  margin-top: 41px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: var(--darkblue-color);
}
.main__module1--image {
  margin-bottom: 47px;
}

.main__module1--article {
  height: 80%;
  display: grid;
  justify-content: center;
  justify-items: center;
}

.main__module1--title1,
.main__module1--title2,
.main__module1--title3 {
  width: 208px;
  height: 23px;
  flex-grow: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--darkblue-color);
}

.main__module1--title1,
.main__module1--title3 {
  margin-bottom: 12px;
}

.main__module1--title2 {
  margin-bottom: 53px;
}

.main__module1--article--par {
  width: 208px;
  height: 96px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: var(--darkblue-color);
}
@media (min-width: 768px) {
  .main__module1--wrapper {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .main__module1--title {
    width: 100%;
    grid-column: span 3;
    text-align: center;
  }
  .main__module1--article {
    width: 100%;
  }
}
@media (min-width: 980px) {
  .main__module1--title {
    width: 550px;
  }
}
